{% extends "bccQuizzBundle::layout.html.twig" %}
 
<<<<<<< HEAD
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block bccQuizz_body %}
 
  <h2>Liste des questions</h2>
 
  <ul>
    {% for question in questions %}
      <li>
        <a href="{{ path('bcc_quizz_see', {'id': question.id}) }}">{{ question.titre }}</a>
        par {{ question.auteur }},
        le {{ question.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) de questions</li>
    {% endfor %}
  </ul>
 
=======
{% block title %}{{ parent() }} - Index{% endblock %}
 
{% block body %}
    OK, même s'il est pour l'instant un peu vide, mon quizz sera trop bien !
>>>>>>> b7704d4d5bdb96a86b524ea86bbe73181c538f7c
{% endblock %}