{% extends "bccQuizzBundle::layout.html.twig" %}
 
{% block title %}
  Lecture d'une question - {{ parent() }}
{% endblock %}
 
{% block bccQuizz_body %}
 
  <h2>{{ question.titre }}</h2>
  <i>Par {{ question.auteur }}, le {{ question.date|date('d/m/Y') }}</i>
 
  <div class="well">
    {{ question.contenu }}
  </div>
 
  <p>
    <a href="{{ path('bcc_quizz_homepage') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('bcc_quizz_modifie', {'id': question.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Modifier la question
    </a>
    <a href="{{ path('bcc_quizz_delete', {'id': question.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Supprimer la question
    </a>
  </p>
 
{% endblock %}